body {
    background-color:#CDCFCD;
}
/*Navigation Customizations*/
.navbar-collapse {
  text-align:center;
}
.navbar{
    margin-bottom:0px;
    background-color:white;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
.container navigbar{
    border:none;      
}
/*Nav customization End*/

/*Footer Customizations*/
.footer {
    background: #061D25;
    padding: 10px 0;
}
.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.footer a:first-child {
    border-left: 1px solid #70726F;
}
.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
/*Footer Custom End*/

/*Grid Customization*/
.bodygrid, #bodycell{
    padding-bottom:.5px;
    padding-left:.5px;
    padding-right:.5px;
    padding-top:.5px;
}
.col-sm-12, .col-xs-12{
    padding:0px;
}

/*Row1 Customization*/
 .largeimage{
     padding-left: .5px !important;
     padding-right: .5px !important;
 }
 .map, .mapimage{
     padding:0px;
     min-height:583.27px;
 }
 .container .btn {

padding-right:40px;
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:0px;
    border:none;
}
 .captionmed .btn{
background-color:#69CFBF;
 }
.btn-default{
color:white;
}
.thumbnail {
    position: relative;
    padding:0px;
    margin-bottom:0px;
    background-color:none;
}
.captionmed h3,p{
color:white;
font-family: 'Muli', sans-serif; 
}

.caption{
    position: absolute;
    top: 45%;
    left: 0;
    background-color: rgba(68, 68, 68, 0.5);     
    padding-bottom:25px;  
    width: 518px;
    left: 173px;
}

.container .btn{  
    float:right;
    position: absolute;
    right: 45px;
    outline:0px;   
}

.captionmap{
    text-align:center;
    width: 238px;
    left: 31px;
    background-color:white;
    
}
.captionmap h3{
    color:black;
    margin-top:13px;
}
.captionmap p{
    color:black;
}
.captionmap .btn{
background-color:#82bfd8;
}
.col-sm-3
    {
padding-left: .5px !important;
        padding-right: .5px !important;
    }

/*@media(min-width:768px){
.mapimage{
    min-height:584px!important;
    max-height:584px!important;
    max-width:300px!important;
}
.map{
    display:inline-block;
    position: absolute;
    right:-16px;
    z-index:-1;
    max-height:584px!important;
}
}
@media(max-width:767px){
    .mapimage{
    min-height:100%!important;
    max-height:100%!important;
    max-width:100%!important;
}
    .map{
    /*display:inline-block;
    position: absolute;
    right:768px;
    z-index:-1;*/
    /*max-height:100%!important;
}
    .col-sm-4{
        padding-left:0px!important;
        padding-right:0px!important;
    }
}*/







@media screen and (max-width:640px){
.caption{
background-color: rgba(68, 68, 68, 0.5);     
    padding-bottom:25px; 
    position: absolute;
    top: 45%;
    left: 0;
    width:100%;
}
.btn-default{
rotation:90deg;
}
}


